<div class="row">
  <div class="col-md-12">
    <h3>Post Data</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Sno</th>
          <th>Title</th>
          <th>Url</th>
          <th>Created At</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of postData;let i = index" data-toggle="modal" data-target="#myModal" (click)="clickedData = data;">
          <td>{{ i+1}}</td>
          <td>{{data.title}}</td>
          <td>{{ data.url}}</td>
          <td>{{data.created_at}}</td>
          <td>{{data.author}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Post Data</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{clickedData | json}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
